body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {

    max-width: 680px;
    margin:10px auto;
    background-color: dodgerblue3;
    padding: 10px;
    border-radius: 40px;
    
}

h1 {
    text-align: center;
    color:rgb(228, 36, 36);
    font-size:45px;
    margin-bottom: 30px;
    
}

.calculatorScreen {
    width: 100%;
    height: 40px;
    font-size: 2rem;
    text-align: left;
    padding: 10px;
    border: none;
    background-color:black;
    color: pink;
    margin-bottom: 5px;
    border-radius: 5px;

}

.buttonGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    
   
    
}

button {
    padding: 10px;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
   
}

button:hover {
    background-color:blue;
}

button:active {
    transform: scale(0.98);
}
.big{
    font-size: 30px;
}
.copyRight{
    color:green;
    float: right;
    margin-top: 20px;
}
.container {
   font-size: 30px;
      }
   
    

